:root {
    /*colors*/
    --white:#fff;
    --mainColor: #2b1055;
    --blackColor:black;
    --checkboxColor: #7597de;
    --hoverBtnColor: rgb(149, 149, 149);
    --addBtnColor: rgb(199, 199, 199);
    --deleteBtnColor:rgb(167, 13, 13);
    --newTaskBtnColor: #7597de;
    /*fonts*/
    --pageNameFonts:cursive, Arial, sans-serif;
    --sloganFonts:Verdana, Helvetica, sans-serif;
}

body{
    height: 100%;
    background-color:  var(--white);
}

header h1{
    font-family: var(--pageNameFonts); 
}
 
header span{
     font-family: var(--sloganFonts);
}

main{
     background-color: var(--white);
     padding:30px;
}

label{
    display:flex; 
    justify-content:left; 
}

ul {
    list-style-type: none;
}

header{
    padding-bottom: 15px;
    background: linear-gradient(to right,#2b1055,#7597de);
    color: var(--white);
}

input[type="checkbox"] {
    width: 1.15em;
    height: 1.15em;
    margin-right:10px;
    accent-color: var(--checkboxColor);
}

div ul span{
    color: var(--mainColor);
    margin-right: 50px;
}

.headings{
    letter-spacing: 5px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--mainColor);
}

.lists{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    margin-right: 40px;
    margin-top: 40px;
    border: var(--mainColor) solid 3px;
    border-radius: 5%;
    width: fit-content;
}

.lists li{
    border-bottom: var(--mainColor) solid 2px;
    margin-bottom: 15px;
    padding-bottom: 30px;
}

.deleteBtn{
    color:var(--white);
    background-color: var(--deleteBtnColor);
    border: var(--mainColor) solid 2px ;
    border-radius: 5px;
    float: right;
    padding: 2px 20px;
    font-size: 1.1em;
}

.form{
    border: var(--mainColor) solid 2px ;
    border-radius: 5px;
    height: 2.8em;
}

#tasks form{
    display: inline;
}

#addBtn:hover{
    background-color: var(--hoverBtnColor);
}

#addBtn:active{
    width: 2.3em;
    height: 2.3em;
}

#formDiv{
    position:fixed;
    width: 50%;
    bottom: 20px;
    width: 100%;
    visibility:hidden;
}

#addBtnDiv{
    position:fixed;
    bottom: 5%;
    width: 100%;
    text-align: right;
}

#addBtn{
    margin-right: 7%;
    border-radius: 50%;
    border: 3px solid var(--mainColor);
    color: var(--mainColor);
    background-color: var(--addBtnColor);
    width:2em;
    height: 2em;
    font-size: 2em;
}

#tasks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:  var(--white);
    margin-bottom: 20px;
}

#new-task-title{
    width: 50%;
}

#new-task-form button{
    background-color: var(--newTaskBtnColor);
    font-weight: 500;
}

#new-task-form button:hover{
    background-color: var(--mainColor);
    color: var(--white);
    font-weight: 500;
}