:root {
    /*colors*/
    --white:#fff;
    --mainColor: #ffffff;
    --borderColor: #2b1055;
    --footerColor: #fff;
    --blackColor:black;
    --checkboxColor: #7597de;
    --hoverBtnColor: rgb(199, 199, 199);
    --addBtnColor: #2b1055;
    --headingColor:#2b1055;
    /*fonts*/
    --pageNameFonts:cursive, Arial, sans-serif;
    --sloganFonts:Verdana, Helvetica, sans-serif;
}

body{
    height: 100%;
    background-color:  var(--footerColor);
}

.headings{
    letter-spacing: 5px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--headingColor);
}

label{
    display:flex; 
    justify-content:left; 
}

header h1{
   font-family: var(--pageNameFonts); 
}

header span{
    font-family: var(--sloganFonts);
}
main{
    background-color: var(--mainColor);
    padding:30px;
}

#tasks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:  var(--mainColor);
    margin-bottom: 20px;
}

.lists{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    margin-right: 40px;
    margin-top: 40px;
    border: var(--borderColor) solid 3px;
    border-radius: 5%;
    width: fit-content;
}


ul {
    list-style-type: none;
}

#formDiv{
    position:fixed;
    width: 50%;
    bottom: 5px;
    border: 3px solid ;
    width: 100%;
    background-color: var(--footerColor);
    visibility:hidden;
}

#addBtnDiv{
    position:fixed;
    bottom: 5%;
    width: 100%;
    text-align: right;
}

#addBtn{
    margin-right: 7%;
    border-radius: 50%;
    border: 3px solid var(--addBtnColor);
    color: var(--addBtnColor);
    background-color: transparent;
    width:2em;
    height: 2em;
    font-size: 2em;
}

#addBtn:hover{
    background-color: var(--hoverBtnColor);
}

#addBtn:active{
    width: 2.3em;
    height: 2.3em;
}

header{
    padding-bottom: 15px;
    background: linear-gradient(to right,#2b1055,#7597de);
    color: var(--white);
}

input[type="checkbox"] {
    width: 1.15em;
    height: 1.15em;
    margin-right:10px;
    accent-color: var(--checkboxColor);
}

div ul span{
    color: var(--borderColor);
}

.lists li{
    border-bottom: var(--borderColor) solid 2px;
    margin-bottom: 15px;
    padding-bottom: 30px;
}

.deleteBtn{
    color:var(--white);
    background-color: red;
    border: var(--borderColor) solid 2px ;
    border-radius: 5px;
    float: right;
    padding: 2px 20px;
    font-size: 1.1em;
}